.nav_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    row-gap: 15%;
}

.sidebar {
    height: 100vh;
    padding-top: 2rem;
    position: relative;
}

.user_profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #213547;
    border: 4px solid orange;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item, .logout {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu_item:hover {
    background-color: #F0F0F0;
}

.menu_item.selected {
    background-color: #007BFF;
    color: #FFFFFF;
}

.link_title {
    margin-left: 15px;
    font-weight: 600;
    font-size: clamp(12px,1.5vw, 16px);
}


.menu_wrapper {
    display: flex;
    flex-direction: column;
}

.logout {
    position: absolute;
    bottom: 5rem;
}

.main_content{
    min-width: 80vw;
    max-width: 85%;
    border: 1px solid red;
    min-height: 85vh;
    margin: 5% auto 0 ;
    display: flex;
    justify-content: flex-start;
}
