.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    box-sizing: border-box;
    border: 1px solid #d9e0f5;
    padding: 20px;
    border-radius: 8px;
    row-gap: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
.calender_icons img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password_container {
  position: relative;
  width: 100%;
}

.password_input {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.eye_icon {
  position: absolute;
    top: 35%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn {
  background-color: blue;
  color: #fff;
  padding: 6px 30px;
  font-size: 16px;
  border-radius: 8px;
}
