.schedule {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.schedule button {
    padding: 4px 10px;
    height: 40px;
    width: 150px;
    border-radius: 8px;
}

.schedule button:hover {
    background-color: orange;
    color: #FFFFFF;
}


