.nav_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    row-gap: 15%;
}

.sidebar {
    height: 100vh;
    padding-top: 2rem;
    position: relative;
}

.user_profile {

    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item, .logout {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu_item:hover {
    background-color: #F0F0F0;
}

.menu_item.selected {
    background-color: orange;
    color: #FFFFFF;
}

.link_title {
    margin-left: 15px;
    font-weight: 600;
    font-size: clamp(12px, 1.5vw, 16px);
}

.user_name{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 1rem;
    padding-left: 1rem;

}


.logout:hover {
    background-color: red;
    color: #FFFFFF;
}


.menu_wrapper {
    display: flex;
    flex-direction: column;
}

.logout {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr;
    box-sizing: border-box;
    text-align: left;
    padding: 6px;
    font-weight: bolder;
    background-color: transparent;
}

.main_content {
    min-width: 80vw;
    max-width: 85%;
    border: 1px solid red;
    min-height: 85vh;
    margin: 5% auto 0;
    display: flex;
    justify-content: flex-start;
}
